.timer {
  align-items: center !important;
  justify-content: space-between !important;
}
.single-time {
  background-color: #171f69;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 18%; */
  /* height: 70px; */
  border-radius: 15px !important;
}
/* .single-time-cont {
  width: 80px !important;
  height: 70px !important;
} */
@media screen and (max-width: 640px) {
  .single-time-cont {
    width: 60px !important;
    height: 60px !important;
  }
  /* .single-time {
    border-radius: 10px;
  } */
  .single-time-type {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 400px) {
  .single-time-cont {
    width: 50px !important;
    height: 50px !important;
    border-radius: 10px !important;
  }
  .single-time-text {
    font-size: 20px !important;
  }
  .single-time-type {
    font-size: 8px !important;
  }
}

@media screen and (max-width: 350px) {
  .single-time-cont {
    width: 40px !important;
    height: 40px !important;
    border-radius: 1px !important;
  }
  .single-time-text {
    font-size: 15px !important;
  }
}
@media screen and (max-width: 300px) {
  .single-time-cont {
    width: 30px !important;
    height: 30px !important;
    border-radius: 10px !important;
  }
  .single-time-text {
    font-size: 15px !important;
  }
}
