.main-wrapper {
  /* background-image: url(""); */
  background-repeat: no-repeat;
  background-color: #1d16ff !important;
  background-position: fixed;

  max-width: 100vw !important;
  /* padding-bottom: 5rem; */
  min-height: 100vh;
}
.main-container {
  max-width: 100vw !important;
}
.main-text {
  font-size: 45px;
}
.sub-col {
  background-color: #00073f;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  height: 100% !important;
}
.progress-bar {
  background-color: #171f69;
}
.home-btn {
  display: block;
  width: 280px;
  height: 50px;
  outline: none !important;
  cursor: pointer !important;
  color: #fff;
  border-radius: 20px !important;
  border: 1px solid #ff8e00 !important;
  margin-top: 3rem;
  justify-content: center !important;
  align-items: center !important;
  transition: all 0.3s ease-in-out;
  background-color: #ff8e00;
  align-self: center !important;
}
.home-btn:focus {
  outline: none !important;
}
.home-btn:hover {
  background-color: #b66400;
  color: white;
}
.col-2 {
  min-height: 80vh !important;
  background-color: rgba(12, 4, 228, 0.9) !important;
}
/* col-3{
     min-height: 80vh !important;
     flex: 1;
} */
.image-count {
  height: 100% !important;
}
.about-title {
  font-size: 55px !important;
}
.about-text {
  font-size: 26px !important;
}

.features {
  min-height: 80vh !important;
}
@media screen and (min-width: 1200px) {
  /* .sub-col {
    margin-left: 15%;

  } */
}
@media screen and (min-width: 1000px) {
  .main-home-col-2 {
    display: flex;
    justify-content: flex-end;
  }
  /* .crypto{
    height: 55%;
    width:95%
} */
}
@media screen and (max-width: 960px) {
  .image-count {
    height: 35% !important;
  }
}
@media screen and (max-width: 640px) {
  .main-text {
    font-size: 40px;
  }
  .about-title {
    font-size: 38px !important;
  }
  .about-text {
    font-size: 26px !important;
  }
}
@media screen and (max-width: 450px) {
  .main-text {
    font-size: 35px;
  }
  .home-btn {
    width: 250px;
    height: 50px;
    font-size: 13px;
  }
  .about-title {
    font-size: 38px !important;
  }
  .about-text {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 380px) {
  .main-text {
    font-size: 30px;
  }
  .small-text {
    font-size: 10px !important;
  }
  .home-btn {
    width: 200px;
    height: 40px;
    font-size: 13px;
    border-radius: 15px !important;
    font-size: 11px;
  }
  .about-title {
    font-size: 30px !important;
  }
  .about-text {
    font-size: 15px !important;
  }
  .about-small-text {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 330px) {
  .main-text {
    font-size: 25px;
  }
  .small-text {
    font-size: 8px !important;
  }
  .discount {
    font-size: 11px !important;
  }
  .about-title {
    font-size: 25px !important;
  }
  .about-text {
    font-size: 12px !important;
  }
  .about-small-text {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 280px) {
  .main-text {
    font-size: 25px;
  }
  .small-text {
    font-size: 8px !important;
  }
  .discount {
    font-size: 11px !important;
  }
  .about-title {
    font-size: 20px !important;
  }
  .about-text {
    font-size: 11px !important;
  }
  .about-small-text {
    font-size: 8px !important;
  }
}
